@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* root variables */

:root {
  --text-gray: '#575859';
}

/* utility classes */

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* header */

.header {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.icon {
  display: none;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.nav-item-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-gray);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  padding: 6px 10px;
  margin: 0 10px;
  border-radius: 6px;
  border-bottom: 2px solid #fff;
}

.nav-item-link:hover {
  background-color: #1d1929;
  color: #fff;
  border-color: #0e0c14;
}

.nav-items-mobile {
  display: none;
}

.close {
  display: none;
}

.nav-buttons {
  display: none;
}

.heading {
  color: #0a090b;
  text-align: center;
  margin: 15px 0 30px 0;
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: underline;
  opacity: 0.8;
}

.heading-temp {
  color: #0a090b;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-decoration: underline;
  opacity: 0.8;
}

/* footer  */

.footer-section {
  background: #09080a;
  position: relative;
}

.single-cta i {
  color: #afadad;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
  padding: 15px;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}

.footer-logo a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.insta-bg {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.linkedin-bg {
  background: #0072b1;
}

.whatsapp-bg {
  background: #25d366;
}

.whatsapp-bg:hover,
.linkedin-bg:hover,
.insta-bg:hover,
.facebook-bg:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #afadad;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #afadad;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #afadad;
  padding: 13px 20px;
  border: 1px solid #afadad;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #000000;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #afadad;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #afadad;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* main */

.main {
  min-height: calc(100vh - 415px);
  height: auto;
}

/* homepage */

.content-home {
  list-style: circle;
  margin-bottom: 50px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.content_home-header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 90%;
}

.bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video_section {
  height: 550px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 200px;
}

/* contact  */

.input-box {
  margin: 20px 0;
}

.input {
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(149, 149, 149, 0.589);
}

.textarea {
  max-height: 200px;
  min-height: 200px;
}

.input:focus {
  outline: none;
}

.label {
  color: #1d1929;
  font-size: 16px;
  padding: 2px;
  line-height: 12px;
  font-weight: 500;
}

.contact-page_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.overlay {
  background: rgb(0, 0, 0);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  padding: 40px 60px !important;
  z-index: 101;
}

.content-contact {
  list-style: circle;
  margin-bottom: 50px;
  background: url(../images/contact_bg.webp);
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  list-style: none;
  z-index: 100;
}

.contact-content_heading {
  font-size: 40px;
  color: #fff;
}

.content_desc {
  font-size: 18px;
  width: 75%;
  text-align: center;
  margin: 40px auto;
  color: #a5b5c0;
}

.glass-effect {
  background: rgba(29, 19, 19, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  width: 50%;
  z-index: 103;
  text-align: center;
  padding: 30px 10px;
  margin: 10px auto;
}

.contact-form {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  max-width: 600px;
  width: 45%;
  min-width: 450px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px 40px;
  margin-bottom: 60px;
  background-color: #fff;
  min-height: 650px;
}

.btn-primary {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1929;
  width: auto;
  display: inline-block;
  border: 2px solid #0e0c14;
  margin-right: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0e0c14;
  box-shadow: none !important;
  border: 2px solid #0e0c14;
}

.error {
  color: rgb(159, 0, 0);
  border: 1px solid rgb(159, 0, 0);
}

.label-error {
  color: rgb(159, 0, 0);
}

.model-wrapper {
  display: none;
  cursor: pointer;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  background-color: #0e0c14;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.model-inner {
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  padding: 20px;
}

.btn-cross_model {
  position: absolute;
  top: 10px;
  right: 15px;
}

.txt_model {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.btn-confirm_model {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Media queryes */

@media (max-width: 1024px) {
  .footer-top {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #afadad;
  }

  .content_desc {
    width: 85%;
  }

  .glass-effect {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .footer-links {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #afadad;
  }
  .content_desc {
    width: 90%;
  }

  .glass-effect {
    width: 90%;
  }

  .overlay {
    padding: 40px !important;
  }

  .content-home {
    width: 150%;
  }
}

@media (max-width: 625px) {
  /* header  */
  .nav-items-mobile {
    display: block;
    position: fixed;
    top: 98px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 20px;
    height: 0;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    z-index: 1000;
  }

  .nav-items {
    display: none;
  }

  .icon {
    display: block;
    width: 2.6em;
    height: 2.6em;
    stroke: #1d1929;
    fill: transparent;
    stroke-width: 1.5pt;
    stroke-miterlimit: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    cursor: pointer;
  }

  .nav-item {
    margin-bottom: 10px;
    width: 100%;
  }

  .nav-item-link {
    display: block;
    width: 95%;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-gray);
    font-weight: 600;
    transition: all 0.3s ease-out;
    padding: 6px 20px;
    margin: 0 10px;
    border-radius: 6px;
    border-bottom: 2px solid #fff;
  }

  .nav-item-link:hover {
    transition-delay: 0.1s;
    background-color: #1d1929;
    color: #fff;
    border-color: #0e0c14;
  }

  .close {
    display: none;
    cursor: pointer;
  }

  .nav-buttons {
    display: block;
  }

  .close .fa-xmark {
    font-size: 30px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    color: #1d1929;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  /* form  */

  .contact-form {
    width: 90%;
    min-width: 100%;
  }

  .model-inner {
    width: 375px;
    height: 250px;
  }

  .content_desc {
    width: 100%;
  }

  .glass-effect {
    width: 100%;
  }

  .content-contact {
    height: 600px;
  }

  .video_section {
    height: 600px;
  }

  .overlay {
    padding: 20px !important;
  }
}

@media (max-width: 425px) {
  .model-inner {
    width: 300px;
    height: 200px;
  }

  .inside_footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .social {
    margin-bottom: 20px;
  }

  .contact-content_heading {
    font-size: 30px;
  }

  .content_desc {
    font-size: 16px;
  }

  .overlay {
    padding: 20px 10px !important;
  }

  .glass-effect {
    margin-top: 0;
  }

  .content-home {
    width: 200%;
  }
}

@media (max-width: 375px) {
  .content-home {
    width: 230%;
  }
}

/* animations */

/* error  */

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

/* model  */

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
